.env
node_modules/
dist/
*.log
*.tmp
*.swp
.DS_Store
__pycache__/
*.pyc
.DS_Store
Thumbs.db
all.py
*/all.py
*/**/all.py
services/all.py
routers/all.py
utils/config.py
datasets/*
!datasets/.gitkeep
mlruns/*
!mlruns/.gitkeep
models/*
!models/.gitkeep
logs/*
tests/*
site/
alembic/
!alembic/versions/
alembic/versions/env.py