fastapi
uvicorn
python-multipart
aiofiles
mlflow
codecarbon
gputil
psutil
loguru
prometheus_client
docling
torch --extra-index-url https://download.pytorch.org/whl/cu125
torchvision --extra-index-url https://download.pytorch.org/whl/cu125
torchaudio --extra-index-url https://download.pytorch.org/whl/cu125


langchain-ollama
langchain-community 
langchain-core
langchain-experimental
langchain-text-splitters
neo4j
sqlalchemy
boto3
psycopg2
gliner
glirel