aiofiles==24.1.0
aiohttp==3.10.10
alembic==1.14.0
anyio==4.6.2.post1
boto3==1.35.55
botocore==1.35.55
bcrypt==3.2.0
codecarbon==2.7.2
docling==2.4.0
docling-core==2.3.1
docling-parse==2.0.3
fastapi==0.115.4
gliner==0.2.13
gliner-spacy==0.0.10
glirel @ git+https://github.com/jackboyla/GLiREL.git@c6ddd8eea31a337170e2abccdcdf6ad039bc08fc
graphql-core==3.2.5
graphql-relay==3.2.0
gunicorn==23.0.0
httpx==0.27.2
huggingface-hub==0.26.2
langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.12
langchain-experimental==0.3.2
langchain-ollama==0.2.0
langchain-postgres==0.0.12
langchain-text-splitters==0.3.0
langsmith==0.1.137
mlflow==2.17.2
neo4j==5.19.0
onnxruntime==1.20.0
opencv-python-headless==4.10.0.84
pgvector==0.2.5
prometheus-fastapi-instrumentator==7.0.0
psycopg==3.2.3
psycopg2==2.9.10
pydantic==2.9.2
scikit-learn==1.5.2
spacy
sqlalchemy==2.0.35
torch --extra-index-url https://download.pytorch.org/whl/cu125
torchvision --extra-index-url https://download.pytorch.org/whl/cu125
torchaudio --extra-index-url https://download.pytorch.org/whl/cu125
transformers
uvicorn==0.30.1
